<div class="container">
	<div class="title-block">
		<div class="title"><h1>ユーザー登録</h1></div>
	</div>
	<div class="link-block">
		<div class="link-list">
			<ul>
				<li><%= link_to '戻る', root_path %></li>
			</ul>
		</div>
	</div>
	<div class="regist-block">
		<div class="form-block">
			<%= form_with model: @app, url: apps_path, local: true do |f| %>
				<div class="form-group">
					<%= f.label :name, 'ニックネーム' %>
					<%= render 'shared/error_messages', object: f.object, item: :name %>
					<%= f.text_field :name %>
				</div>
				<div class="form-group">
					<%= f.label :link, 'URL' %>
					<%= render 'shared/error_messages', object: f.object, item: :link %>
					<%= f.text_field :link %>
				</div>
				<div class="form-group">
					<%= f.submit '登録' %>
				</div>
			<% end %>
		</div>
	</div>
</div>